<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test suit">
    <test name="Order test">
        <classes>
            <!-- CLASS TO INCLUDE TO XML SUIT -->
            <class name="com.weborders.tests.OrderTest"/>
            <class name="com.weborders.tests.LoginTests"></class>
        </classes>
    </test>
</suite>